@model IEnumerable<LibraryCodingNight.Models.Reservation>

@{
    ViewData["Title"] = "Rezerwacje uczniów";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Rezerwacje uczniów</h1>

<table class="table">
    <thead>
        <tr>
                        <th>
			    Imię
            </th>
            <th>
		Nazwisko
            </th>
            <th>
		Książka
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfReserve)
            </th>
            <th>
		Jest aktualna
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)
            </td>            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfReserve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActual)
            </td>
        </tr>
}
    </tbody>
</table>
