@model IEnumerable<LibraryCodingNight.Models.SuggestedBook>

@{
    ViewData["Title"] = "Zaproponowane książki";
    Layout = "_LayoutAdmin";
}

<h1>Książki zaproponowane przez uczniów do zakupu</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SuggestedBookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuggesteBookAuthor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SuggestedBookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuggesteBookAuthor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SuggestedBookId">Edytuj</a> |
                <a asp-action="Delete" asp-route-id="@item.SuggestedBookId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
