@using Microsoft.AspNetCore.Identity
@using LibraryCodingNight.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    string theme = "";
    if (SignInManager.IsSignedIn(User))
    {
        var applicationUser = await UserManager.GetUserAsync(User);
        theme = "theme-" + applicationUser.ThemeId;
            
    }
    else
    {
        theme = "";
    }
}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>@ViewData["Title"] - LibraryCN</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"/>
    <link rel="icon" href="~/img/logo_without_text.png"/>
    <link rel="stylesheet" href="~/css/layoutprofile.css" asp-append-version="true"/>
    <link href="https://startbootstrap.github.io/startbootstrap-sb-admin/css/styles.css" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    @await RenderSectionAsync("css", false)
</head>
<body class="@theme">
@if (SignInManager.IsSignedIn(User))
{
    var applicationUser = await UserManager.GetUserAsync(User);
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-3 d-flex align-content-center" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/assets/img/LibraryCN.png" width="30" height="30"/> LibraryCN</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle"><i class="fas fa-bars"></i> </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <li class="d-none d-md-inline-block form-inline">
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Witaj @applicationUser.FirstName @applicationUser.LastName!</a>
            </li>
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link text-light" style="background: none; border: none;">Wyloguj się</button>
            </form>
        </div>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav" class="position-relative">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Funkcje</div>
                            <a class="nav-link" asp-controller="Student" asp-action="AllBooks">
                                <div class="sb-nav-link-icon">
                                    <i class="bi bi-book"></i>
                                </div>
                                Wszystkie książki
                            </a>
                            <a class="nav-link" asp-controller="Student" asp-action="SuggestBook">
                                <div class="sb-nav-link-icon">
                                    <i class="bi bi-envelope-heart-fill"></i>
                                </div>
                                Zasugeruj zakup
                            </a>                  
                            <a class="nav-link" asp-controller="Student" asp-action="Reservation">
                                <div class="sb-nav-link-icon">
                                    <i class="bi bi-bookmark-star-fill"></i>
                                </div>
                                Twoje rezerwacje
                            </a>
                            <a class="nav-link" asp-controller="Student" asp-action="BorrowedBooks">
                                <div class="bi bi-bookmark-check-fill">
                                    <i class="fa fa-user"></i>
                                </div>
                                Wypożyczone książki
                            </a>
                        <div class="sb-sidenav-menu-heading">Profil</div>
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Profile">
                            <div class="sb-nav-link-icon">
                                <i class="fa fa-user"></i>
                            </div>
                            Edytuj dane
                        </a>
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Email">
                            <div class="sb-nav-link-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            Email
                        </a>
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">
                            <div class="sb-nav-link-icon">
                                <i class="fa fa-key"></i>
                            </div>
                            Zmień hasło
                        </a>
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/TwoFactorAuthentication">
                            <div class="sb-nav-link-icon">
                                <i class="fa fa-shield"></i>
                            </div>
                            Uwierzytelnianie dwuskładnikowe
                        </a>
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/PersonalData">
                            <div class="sb-nav-link-icon">
                                <i class="fa fa-info"></i>
                            </div>
                            Dane osobowe
                        </a>
                    </div>
                </div>

            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                    <button onclick="topFunction()" id="scrollBtn" style="background: none; border:none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="red" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                        </svg>
                    </button>
                </div>
            </main>
            <footer class="py-4 bg-dark mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center text-light justify-content-between small">
                        <div class="text-muted" class="text-light">&copy; 2022 &middot; <a href="https://github.com/k3yboarders" target="_blank">k3yboarders</a></div>
                        <div>
                            <a asp-area="" asp-controller="Home" asp-action="Privacy">Polityka prywatności</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @await RenderSectionAsync("Scripts", false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/profile.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script src="~/js/scroll.js" asp-append-version="true"></script>
    <script src="~/js/hidemenu.js" asp-append-version="true"></script>

}
else
{
    <p>Nie jesteś zalogowany!</p>
}
</body>
</html>
