@model IEnumerable<LibraryCodingNight.Models.SuggestedBook>

@{
    ViewData["Title"] = "Zasugerowane książki";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Dodaj nową</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SuggestedBookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuggesteBookAuthor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SuggestedBookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuggesteBookAuthor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SuggestedBookId">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.SuggestedBookId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.SuggestedBookId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
