@model LibraryCodingNight.Models.Reservation

@{
    ViewData["Title"] = "Usuń";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<h1>Usuń</h1>

<h3>Czy jesteś pewien że chcesz to usunąć?</h3>
<div>
    <h4>Rezerwacja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.BookId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfReserve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfReserve)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReservationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy</a>
    </form>
</div>
