@model LibraryCodingNight.Models.BorrowedBook

@{
<<<<<<< HEAD
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
=======
    ViewData["Title"] = "Usuń";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
>>>>>>> ae22dcf3fd9bfab46e81952b099c359a4d839c53
}

<h1>Usuń</h1>

<h3>Czy jesteś pewien że chcesz to usunąć?</h3>
<div>
    <h4>Pożyczona książka</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.BookId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowedFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowedFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowedTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowedTo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BorrowedBookId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy</a>
    </form>
</div>
