@model LibraryCodingNight.Models.BorrowedBook

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BorrowedBook</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.BookId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowedFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowedFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowedTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowedTo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BorrowedBookId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
