@model IEnumerable<LibraryCodingNight.Models.BorrowedBook>

@{
    ViewData["Title"] = "Wypożyczone książki";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Dodaj nową</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imię i nazwisko
            </th>
            <th>
		Numer książki
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowedFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowedTo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowedFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowedTo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BorrowedBookId">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.BorrowedBookId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.BorrowedBookId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
