@model IEnumerable<LibraryCodingNight.Models.Book>

@{
    ViewData["Title"] = "Wszystkie książki";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}
<form asp-controller="Student" asp-action="AllBooks">
    <p>
        <select name="category">
            <option value="1">Tytuł</option>
            <option value="2">Autor</option>
            <option value="3">ISBN</option>
            <option value="4">Gatunek</option>
            <option value="5">Seria</option>
        </select>

        <input type="text" name="searchString" />
        <input type="submit" value="Szukaj" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.PublisherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie.SerieName)
            </td>
            <td>
                <a asp-controller="Student" asp-action="Details" asp-route-id="@item.BookId">Szczegóły</a> |
                <a asp-route-id="@item.BookId">Zarezerwuj</a> |
            </td>
        </tr>
}
    </tbody>
</table>
