@model IEnumerable<LibraryCodingNight.Models.Publisher>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Wydawnictwa</h1>

<p>
    <a asp-action="Create">Dodaj nowe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublisherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PublisherId">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.PublisherId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.PublisherId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
